<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
    <!-- local -->
    <add name="ConnString" connectionString="data source=sql01.ddns.net;Database=payroll;User ID=pub_payroll;Password=asd123456;" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
</configuration>
