<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime executionTimeout="180" />
      
    </system.web>
  <appSettings>
    <add key="UploadFileRootDir" value="D:\WebUpLoad\CDS_Upload\"/>
    <add key="sqliteString" value="~\\SQLite\\db.prod.sqlite3"/>
  </appSettings>
  <connectionStrings>
    <!-- local -->
    <!--<add name="ConnString" connectionString="data source=(local);Database=payroll;User ID=sa;Password=Sa@123456;" providerName="System.Data.SqlClient"/>-->
     <!--<add name="ConnString" connectionString="data source=sql01.ddns.net;Database=payroll;User ID=pub_payroll;Password=asd123456;" providerName="System.Data.SqlClient"/>-->
    <add name="ConnString" connectionString="data source=192.168.111.201;Database=payroll;User ID=HR_payroll;Password=#EDC4rfv;Connection Timeout=600;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
